* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #343a40;
  line-height: 1;
}
.flex {
  display: flex;
  gap: 2rem;
  margin: 3rem;
}
.flex2 {
  display: flex;
  gap: 2rem;
  margin: 3rem;
}
.flex3 {
  display: flex;
  gap: 2rem;
  margin: 3rem;
}
